* {
    transition: height .2s ease;
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color:#585858;
  width: 400px;
  height: auto;
  transition: height .2s ease;
}
a {
  /* text-decoration: none; */
  color : #a76666;
}
.hide {
  display:none;
}
.show {
  display:block;
}
.header {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.body{
  margin: 0 27px;
  padding-bottom: 7px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #BFBFBF;
  margin: 0;
  margin-right: auto;
  margin-left: 15px;
}
.close,
.about,
.delete {
  margin-right: 15px;
  padding: 0px 4px;
  display:inline-block;
}
.about {
  padding: 0px 7px;
}
.delete {
  padding-bottom: 5px;
}
.close:hover,
.back:hover,
.about:hover,
.delete:hover  {
  cursor: pointer;
  background-color: #ebebeb;
}
.delete.active{
  background-color: #ebebeb;
}
.back {
  margin-left: 5px;
  padding:0px 5px;
}
.default {
  font-size: 13px;
}
li {
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 17px;
}
.nurtureItemList .default:hover{
  cursor: default;
}
.nurtureItemList {
  font-family: Roboto;
  font-size: 1rem;
  color: #585858;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline-start: 0px;
}
.nurtureItemList p{
  font-weight: 600;
  border-radius: 3px;
  display: inline-block;
  margin: 0;
  margin-bottom: 7px;
  padding: 10px;
  transition: transform .1s ease-in;
}
.nurtureItemList p.like,
.nurtureItemList p.love{
  background: #D8F4DF;
  color: #509762;
}
.nurtureItemList p.dislike,
.nurtureItemList p.hate{
  background: #F6DEDE;
  color: #D25E5E;
}
p.addNew{
  background: #FAFAFA;
  color: #BFBFBF;
}
p.addNew.darker{
  background: #EAEAEA;
  color: #8F8F8F;
}
.nurtureItemList p:hover{
  cursor: pointer;
  transform: scale(1.03);
}
#itemModule .header{
  justify-content: space-between;
}
.percent {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-left: 15px;
  font-size:0.8rem;
  pointer-events: none;
}
.percent.like, 
.percent.love {
  color: #509762;
}
.percent.dislike,
.percent.hate {
  color: #D25E5E;
}
.displayPercent {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
}
.displayAction {
  font-family: Poppins, sans-serif;
  font-weight:600;
  font-size: 1.25rem;
  margin-bottom:0px;
  margin-top:24px;
  text-align: center;
  color:#5E5E5E;
}
.displayReason {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin-top:8px;
  margin-bottom: 48px;
  text-align: center;
  color:#5E5E5E;
}
.faces {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.face {
  margin: 0 8px;
  padding: 12px;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.16);
  transition: all .17s ease-out;
}
.face > img{
  transition: transform .2s ease;
  width: 35px;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.face:hover{
  cursor: pointer;
  transform: scale(1.07);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.26);
}
#itemModule.like .face:hover,
#itemModule.love .face:hover{
  background: #D8F4DF;
}
#itemModule.dislike .face:hover,
#itemModule.hate .face:hover{
  background: #F6DEDE;
}
.face:first-of-type::before,
.face:last-of-type::before{
  content: "not true";
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  width: 46px;
  height: 100%;
  font-size: 0.8rem;
  color:#C6C6C6;
  font-size: 11px;
  pointer-events: none;
}
.face:last-of-type::before{
  content:"very true";
  left: 16px;
}
.dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 35px;
  line-height: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.dot {
  width: 5px;
  height: 5px;
  background-color: #474747;
  border-radius: 10px;
  margin: 2px 1px;
  display: inline-block;
}
.newest{
  animation-name: newDot;
  animation-duration: .5s;
  animation-iteration-count: 1;
}
#itemModule.like .dot,
#itemModule.love .dot {
  background-color: #5ED27B;
}
#itemModule.like .displayPercent,
#itemModule.love .displayPercent {
  color: #5ED27B;
} 
#itemModule.dislike .dot,
#itemModule.hate .dot {
  background-color: #D25E5E;
}
#itemModule.dislike .displayPercent,
#itemModule.hate .displayPercent {
  color: #D25E5E;
}
.goalToggle{
  margin: 15px 0px;
}
.goalToggle p {
  display:inline-block;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 12px; 
  color: #C5C5C5;
}
#aboutModule p {
  font-size: 14px;
  line-height: 20px;
}
p.small {
  font-size: 12px;
  line-height: 17px;
}
#aboutModule .intensityToggle p{
  font-size: 12px;
}
.intensityToggle p {
  display:inline-block;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  color: #C5C5C5;
}
.goalToggle .toggleLike {
  margin-right: 5px;
}
.intensityToggle .toggleLikeDislike {
  margin-right: 10px;
}
.goalToggle .toggleLike:hover,
.goalToggle .toggleDislike:hover,
.intensityToggle p:hover{
  cursor: pointer;
}
.goalToggle .toggleLike.active{
  color:#5ED27B
}
.goalToggle .toggleDislike.active{
  color:#D25E5E
}
.intensityToggle .green,
.intensityToggle .red {
  color: #C5C5C5; 
}
.intensityToggle .active .green{
  color: #5ED27B;
}
.intensityToggle .active .red {
  color: #D25E5E;
}
.intensityToggle p{
  margin-top:8px;
  transition: color .2s ease;
}
.intensityToggle p:hover {
  color: #999
}
.toggleIntenseMode {
  margin-bottom: 0px;
}
form p {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  color:#585858;
  margin-bottom: 4px;
  margin-top:0px;
}
form input{
  font-size: 13px;
  border-style: none;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 23px;
  width: 250px;
}
form input::placeholder{
  color:#cacaca;
}
form input:focus{
  outline: 0;
  border-bottom: 1px solid #585858;
}
form input.submit{
  width: auto;
  position: absolute;
  margin-right: 0px;
  right: 12px;
  bottom: 20px;
  margin: 0px;
  border-bottom: 0px;
  font-size: 12px;
  color: #ABA9A9;
  transition: background-color .2s ease;
}
input.submit:hover{
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}
form input.submit.canSubmit{
  color: #585858;
}


#introModule p{
  font-size: 14px;
  line-height: 20px;
}
#introModule p.welcome{
  /* font-size: 20px;
  color:#5ED27B;
  font-family: "Poppins", sans-serif; */
  margin-left:0px;
  margin-top: 25px;
}
#introModule .introButton {
  font-size: 13px;
  display:inline-block;
  /* border: 1px solid rgb(201, 201, 201); */
  background : #f0f0f0;
  color:#474747;
  padding: 1px 10px;
  border-radius: 3px;
  transition: transform .2s ease;
}
.introButton:hover{
  cursor: pointer;
  transform:scale(1.05);
}
@keyframes newDot {
  from {
    transform:scale(0);
  }
  to {
    transform:scale(1);
  }
}

.remove {
  display: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #D25E5E;
  transition: all .2s ease;
  padding-left: 5px;
  padding-right:0px;
  margin-right: 5px;
  pointer-events: none;
}
.remove:hover{
  /* background-color:#D25E5E;
  color:#fff; */
}
.showRemove span.remove{
  display:inline-block;
}
.showRemove{
  transition: all .25s ease;
  border-radius: 3px;
}
.showRemove:hover{
  background-color: #FDEBEB;
}